<a href="https://colab.research.google.com/github/ValinStudent/CSC-481-Spring25/blob/main/Python_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Mathmatic Operations
a = 10
b = 5
sum = a + b
difference = a - b
product = a * b
division = a / b

print("Sum: ", sum)
print("Difference: ", difference)
print("Product: ", product)
print("Division: ", division)

Sum:  15
Difference:  5
Product:  50
Division:  2.0

In [3]:
# Print f use
print(f"The sum of the two number {a} and {b} is {sum}")

The sum of the two number 10 and 5 is 15

In [5]:
# Modulus and floor division

x = 13 // 2
print(x)

y = 13 % 2
print(y)

6
1

In [2]:
# Boolean variables and comparisons
x = 10
y = 5

is_greater = x > y
is_equal = x == y
is_not_equal = x != y

print("is x greater than y? ", is_greater)
print("is x equal to y? ", is_equal)
print("is x not equal to y? ", is_not_equal)


# Variable Assignment

name = "Mark"
age = 37
is_student = True

print(f"{name} is a {age} year old student, and it is {is_student} he is a student.")

is x greater than y?  True
is x equal to y?  False
is x not equal to y?  True
 Mark is a 37 year old, and it is True he is a student.

In [8]:
# Defining and using a function

def greet(name):
  return "Hello, " + name + "!"
my_name = input("Enter your name: ")
greet(my_name)

def add_numbers(a,b):
  return a + b

a = eval(input("The first number you wuuld like to add: "))
b = eval(input("The secnd number you wuuld like to add: "))

addition_value = add_numbers(a,b)

print(f"The two numbers added together of {a} and {b} the result is {addition_value}")

Enter your name: 1
The first number you wuuld like to add: 1
The secnd number you wuuld like to add: 1
The two numbers added together of 1 and 1 the result is 2

In [9]:
#Working with Strings

message = "Hello, World"
length = len(message)

uppercase = message.upper()
lowercase = message.lower()
substring = message[7:12]

print("Original Message: ", message)
print("Length of Message: ", length)
print("Uppercase Message: ", uppercase)
print("Lowercase Message: ", lowercase)
print("Part of the Message: ", substring)

Original Message:  Hello, World
Length of Message:  12
Uppercase Message:  HELLO, WORLD
Lowercase Message:  hello, world
Substring of Message:  World

In [12]:
# Input Example

last = input("Provide the last name")
first = input("Provide the first name")
print(f"{last},{first}")

Provide the last nameB
Provide the first nameA
B,A

In [3]:
# Numeric input example

age = int(input("input your age: "))
print  ("You will be", age + 1 , "years old next year")

input your age1
You will be  2  years old next year

In [7]:
# Calculations with input

num1 = float(input("Enter a number: "))
num2 = float(input("Enter a second number: "))
sum_result = num1 + num2
print("Sum:", sum_result)

Enter a number: 1
Enter a second number: 1
Sum: 2.0

In [5]:
# Contatination with input

city = input("Enter the name of the city you are in: ")
state = input("Enter the name of the state your city is in: ")
location = city +", "+ state
print("You are located in:", location)

Enter the name of the city you are in: Oxford
Enter the name of the state your city is in: Connecticut
You are located in: Oxford,Connecticut

In [8]:
# Multple Inputs

name, age = input("Enter your name and age seperated by a space: ").split()
print("My name is " + name + " and I am " + age + " years old.")

Enter your name and age seperated by a space: Mark 37
My name isMarkand I am 37years old.